@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #121212;
}

nav {
    background-color: #272727;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.main{
    padding: 20px;
    display: flex;
    max-height: calc(100vh - 57px - 40px);
}

svg {
    fill: red;
    /* stroke-width: 1px; */
    stroke: black;
    width: 100%;
    height: 100%;
}
.map{
    flex: 60%;
    min-height: calc(100vh - 57px - 40px);
}
.data {
    flex: 35%;
    min-width: 300px;
}